@charset "UTF-8";

/* 
Typical Devide Breakpoints
---------------------------
Pequenas telas: até 600px
Celulares: 600px a 768px
Tablets: 768px a 992px
Desktop: 768px a 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}

